* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /*font de 10px, pero 62.5% para que respete los 16px por default de los browsers*/
    font-family: 'Poppins', sans-serif;
    padding: none;
}


/*header navigation*/

.header {
    width: 100%;
    height: 438px;
}

.header .header-nav {
    width: 100%;
    height: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: var(--primary);
}

.header .header-nav div {
    width: 150px;
}

.header .header-nav .option-bar {
    display: flex;
    align-items: center;
}

.header .header-nav .option-bar img {
    width: 20px;
}

.header .header-nav .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.header .header-nav .logo img {
    width: 34%;
}

.header .header-nav .icons-container {
    display: flex;
    justify-content: flex-end;
}

.header .header-nav .icons-container img {
    width: 20px;
    margin-left: 15px;
}


/*header section welcome*/

.header .header-sct-welcome {
    background-image: url(../img/background-image.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-sct-welcome--container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header .header-sct-welcome .header-title {
    font-size: 4rem;
    color: var(--primary);
    text-transform: uppercase;
}

.header .header-sct-welcome .header-btn {
    padding: 13px 27px;
    font-size: 1.1rem;
    color: var(--primary);
    background: var(--secondary);
    outline: none;
    border: var(--secondary);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 13px;
}


/*chakra section*/

.chakra-posters {
    width: 100%;
    min-height: 934px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--tertiary);
    padding: 0 15px;
}

.chakra-posters .chakra-title {
    font-size: 2rem;
    margin-top: 35px;
    margin-bottom: 15px;
}

.chakra-posters .chakra-subtitle {
    font-size: 1.4rem;
    font-style: italic;
    color: var(--quaternary);
    text-align: center;
}

.chakra-posters .chakra-container {
    height: 100%;
    width: 100%;
    margin-top: 35px;
}

.chakra-posters .chakra-container img {
    width: 100%;
    max-height: 725px;
    background-size: cover;
    border: none;
    display: block;
}

.btn-format {
    width: 100%;
    height: 40px;
    background: var(--secondary);
    outline: 0;
    border: none;
    text-transform: uppercase;
    color: var(--primary);
    letter-spacing: 3px;
    display: block;
}

.description {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--description);
    margin: 17px 0 17px 0;
}

.chakra-money {
    font-size: 1.5rem;
    color: var(--description);
    margin-bottom: 30px;
}

.btn-more-products {
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 1px solid var(--secondary);
    color: var(--secondary);
    background: var(--primary);
    padding: 5px 10px;
    width: 235px;
    height: 45px;
    font-size: 1.1rem;
    margin-bottom: 50px;
}

.trending-products {
    color: var(--description);
}

.trending-products .trending-title {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
}

.trending-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.trending-products .trending-btn-container {
    display: flex;
    width: 330px;
    height: 48px;
    justify-content: space-evenly;
    margin: 15px 0;
}

.trending-products .trending-btn-container button {
    font-size: 1.5rem;
    padding: 10px;
    border: none;
    outline: none;
    color: var(--quaternary);
    background: var(--primary);
}

.trending-products .trending-btn-container button:hover {
    border: 1px solid var(--description);
    border-radius: 100px;
}

.cards-general-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 15px;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%;
}

.trending-products img {
    min-height: 100px;
    background-size: cover;
}


/*Banner negro*/

.announcement-header {
    background: var(--black);
    width: 100%;
    height: 314px;
    color: var(--primary);
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.announcement-header .announcement-header-title {
    font-size: 2rem;
    font-style: italic;
}

.announcement-header .announcement-header-subtitle {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 1.5px;
    margin: 20px 0;
}

.announcement-header--contraste {
    color: var(--secondary);
}

.announcement-btn {
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 1px solid var(--primary);
    color: var(--primary);
    background: var(--black);
    padding: 5px 10px;
    width: 140px;
    height: 42px;
    font-size: 1.1rem;
}


/*wall tapestry section*/

.announcement-welcome {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 55px;
    flex-direction: column;
    margin: 30px 0;
}

.announcement-title {
    font-size: 2rem;
    text-transform: uppercase;
}

.announcement-subtitle {
    font-size: 1.4rem;
    font-style: italic;
    color: var(--quaternary);
}

.btn-container {
    display: flex;
    justify-content: center;
}


/*Banner rosado*/

.announcement-header2 {
    background: var(--pink);
    width: 100%;
    height: 314px;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 35px 35px;
}

.announcement-header2-title {
    font-size: 3rem;
    font-weight: 700;
}

.announcement-header2-paragraph {
    font-size: 1.8rem;
    margin: 10px 0;
}

.announcement-header2-contrast {
    font-size: 1.8rem;
    font-weight: bold;
}


/*Blog section*/

.blog-sct {
    background: var(--background);
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.blog-sct img {
    background-size: cover;
    width: 100%;
    min-width: 450px;
}

.blog-sct .blog-text {
    font-size: 1.5rem;
    color: var(--description);
    padding: 10px 0;
}

.blog-sct .blog-description {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--blog-desciption);
    margin: 17px 0 17px 0;
}

.blog-button {
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 1px solid var(--secondary);
    color: var(--secondary);
    background: var(--background);
    padding: 5px 10px;
    width: 146px;
    height: 45px;
    font-size: 1.1rem;
    margin: auto;
}

.blog-sct .blog-btn-container {
    display: flex;
    justify-content: center;
    padding: 40px 0 25px 0;
}

.announcement-header3 {
    background: var(--black);
    width: 100%;
    height: 300px;
    color: var(--primary);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

.announcement-header3-title {
    font-size: 2.6rem;
    color: var(--primary);
}

.announcement-input {
    background: var(--black);
    padding: 10px;
    border: var(--black);
    border-bottom: 1px solid var(--primary);
    width: 350px;
    outline: none;
    color: var(--primary);
    font-size: 2rem;
    cursor: pointer;
}

.announcement-input::placeholder {
    color: var(--primary);
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 2px;
}

.btn-signup {
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 1px solid var(--secondary);
    background: var(--black);
    padding: 5px 10px;
    width: 150px;
    height: 45px;
    font-size: 1.1rem;
    color: var(--secondary);
}