:root {
    --primary: #fff;
    --secondary: #56cfe1;
    --tertiary: #474747;
    --quaternary: #878787;
    --description: #212121;
    --black: #262626;
    --pink: #ff61c3;
    --background: #f7f7f7;
    --blog-desciption: #414141;
    --description-secondary: #222;
    --footer: rgba(31, 31, 31, 0.95);
    ;
    --footer-link: #808080;
    --nav: #4d5959;
}