:root {
    --primary: #fff;
    --secondary: #56cfe1;
    --tertiary: #474747;
    --quaternary: #878787;
    --description: #212121;
    --black: #262626;
    --pink: #ff61c3;
    --background: #f7f7f7;
    --blog-desciption: #414141;
}